---
layout: default
---
      <div class="rounded-lg flex flex-col">
        {{ page.list-title }}:
        <ol class="list-decimal list-outside pl-[revert] rounded-lg border border-white bg-blue-100 shadow-md px-10  ">
          {% for item in page.list %}
          <li>
              <a class="font-bold"> {{ item.title }} </a>: {{ item.text }}
          </li>
          {% endfor %}
        </ol>
        {{ content }}
        {% for link in page.links %}
        <a href="{{ link.path }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{ link.text }}</a>
        {% endfor %}
      </div>

